{
    order replace after encode
}

:80 {
    @theme path /theme.css
    handle @theme {
        root * /srv
        file_server
    }

    handle {
        header -Content-Security-Policy
        reverse_proxy dokploy:3000 {
            header_up Accept-Encoding identity
            header_up Origin       http://dokploy:3000
            header_up Referer      http://dokploy:3000/
        }
        replace "</head>" `<link rel="stylesheet" href="/theme.css"></head>`
    }
}